* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* nav { */
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.welcome {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  color: #28352f;
  height: 28px;
}

.header-section-title {
  /* Theme 2 / H2 */
  display: flex;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;

  /* or 130% */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 192px;

  /* Neutrals/N800 */
  align-items: flex-end;
  color: #172b4d;
}

.header-name-header-title {
  font-weight: 700;
  font-size: 4rem;
  color: green;
  font-family: "Inter", sans-serif;
}

.header-title {
  color: #36b37f;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Inter", sans-serif;
}

.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 5px;
}
